
<html xmlns="http://www.w3.org/1999/xhtml"><head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>UI Options Preview Content</title>
        <link href="../../../framework/fss/css/fss-reset-global.css" type="text/css" rel="stylesheet">
        <link href="../../../framework/fss/css/fss-base-global.css" type="text/css" rel="stylesheet">
        <link href="../../../framework/fss/css/fss-layout.css" type="text/css" rel="stylesheet">
        <link href="../../../framework/fss/css/fss-text.css" type="text/css" rel="stylesheet">
        <link href="../../../components/uiOptions/css/fss/fss-theme-bw-uio.css" type="text/css" rel="stylesheet">
        <link href="../../../components/uiOptions/css/fss/fss-theme-wb-uio.css" type="text/css" rel="stylesheet">
        <link href="../../../components/uiOptions/css/fss/fss-theme-by-uio.css" type="text/css" rel="stylesheet">
        <link href="../../../components/uiOptions/css/fss/fss-theme-yb-uio.css" type="text/css" rel="stylesheet">
        <link href="../../../components/uiOptions/css/fss/fss-text-uio.css" type="text/css" rel="stylesheet">
        <link href="../css/CustomPreview.css" type="text/css" rel="stylesheet">

    </head>
    <body class="demo-previewContent demo-customLocation fl-focus fl-uio-default-theme" style="font-size: 1em; line-height: 1.23em;">
        <!-- This div tell the page enhancer where to place a Table of Contents -->
        <div class="flc-toc-tocContainer toc">
        </div>

        <h1>Preview Template In Custom Location</h1>
        <h2>Text content</h2>
        <p>Phasellus nunc leo, mattis eget luctus sed, tempor quis tellus. Vestibulum tincidunt eros
           viverra arcu condimentum eu bibendum quam tempor. Suspendisse potenti. Sed id augue nisi.</p>

        <h3>Inputs and Links</h3>
        <p class="float-right">
            <input type="radio" id="test1"><label for="test1">Yes</label>
            <input type="radio" id="test2"><label for="test2">No</label>
             <br />
            <select>
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
            </select>
        </p>
        <p><a href="#">A link to nowhere</a></p>
        <p><input type="text"></p>

        <h2>Table</h2>
        <table>
            <tbody><tr><th>Head1</th><th>Head2</th></tr>
            <tr><td>Etiam non dui a quam venenatis malesuada</td><td>In malesuada porttitor lectus</td></tr>
            <tr><td>Nam mattis facilisis condimentum</td><td>Pellentesque mattis neque eget massa</td></tr>
        </tbody></table>
    

</body></html>
